/////  CSS LODER /////
.preloader {
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    max-height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    transition: 0.4s;
    // animation: showing-anim linear 0.6s forwards;

    &__wall {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &__spin-box {
        transition: 0.3s;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        width: 70px;
        height: 70px;

        border: 10px solid #434343;
        border-right: 10px solid transparent;
        border-radius: 50%;

        animation: rotate-animation linear infinite 1s;
    }
}

// .preloader--closing {
//     animation: showing-anim linear 0.6s forwards;

//     &__spin-box {
//         animation: rotate-animation linear infinite 1s;
//     }
// }

@keyframes showing-anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotate-animation {
    0% {
        opacity: 0.8;
        transform: rotate(0deg) scale(50%);
    }
    50% {
        opacity: 1;
        transform: rotate(180deg) scale(100%);
    }
    100% {
        opacity: 0.8;
        transform: rotate(360deg) scale(50%);
    }
}

.preloader-enter-active {
    animation: showing-anim 0.5s forwards;
}

.preloader-enter-done {
    opacity: 1;
}

.preloader-exit-active {
    animation: showing-anim 0.5s reverse;
}
