/////  CSS LODER /////
.preloader {
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    transition: 0.3s;
    opacity: 0.8;
    animation: starting-anim 1s;

    &.--closing {
        animation: closing-anim ease 2s forwards;

        &__spin-box {
            animation: rotate-animation ease infinite 1s, closing-anim ease 1s forwards;
        }
    }

    &__wall {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &__spin-box {
        transition: 0.3s;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        width: 70px;
        height: 70px;

        border: 10px solid #434343;
        border-right: 10px solid transparent;
        border-radius: 50%;

        animation: rotate-animation ease infinite 1s, starting-anim linear 1s forwards;
    }
}

@keyframes closing-anim {
    75% {
        opacity: 1;
    }

    100% {
        //z-index: -1;
        opacity: 0;
    }
}

@keyframes starting-anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotate-animation {
    0% {
        opacity: 0.8;
        transform: rotate(0deg) scale(50%);
    }
    50% {
        opacity: 1;
        transform: rotate(180deg) scale(100%);
    }
    100% {
        opacity: 0.8;
        transform: rotate(360deg) scale(50%);
    }
}
