.header {
    grid-area: header;
    position: relative;
    z-index: 15;
    background-color: rgb(85, 85, 85);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    &__body {
        height: 100%;
    }

    &__grid {
        color: white;
        text-align: right;
        height: 100%;
        display: grid;
        grid-template: auto / 85px 1fr;

        align-items: center;
        margin: 0 15px;
    }

    &__logo {
        background-color: white;

        border-radius: 50%;

        height: 55px;
        width: 55px;
    }
    &__login {
        a {
            transition: 0.15s ease;
            position: relative;
            color: white;
            &::before {
                transition: 0.15s ease;
                content: "";
                display: block;
                height: 2px;
                background-color: rgba(189, 205, 235, 0);

                position: absolute;
                bottom: -3px;
                left: 50%;
                right: 50%;
            }

            &:hover {
                color: rgba(189, 205, 235);
                &::before {
                    background-color: rgba(189, 205, 235);

                    position: absolute;

                    left: 0;
                    right: 0;
                }
            }
        }
    }
}

.header-login {
}
