.login {
    padding-top: 30px;
    width: 100%;

    &__error-label {
        position: relative;
        z-index: 20;
        padding-top: 20px;
        font-size: 20px;
        text-align: center;
        color: #cf4c4c;
        font-weight: bold;
    }
    &__title {
        font-size: 30px;
        text-align: center;
        margin: 20px 0;
    }
    &__form {
        position: relative;
        z-index: 20;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__input-login {
        input {
            outline: none;
            border: 3px solid rgb(59, 59, 59);
            font-size: 20px;
            padding: 5px 10px;
            border-radius: 8px;
        }
    }

    &__input-password {
        input {
            outline: none;
            border: 3px solid rgb(59, 59, 59);
            font-size: 20px;
            padding: 5px 10px;
            border-radius: 8px;
        }
    }

    &__remember-me {
        display: flex;
        align-items: center;
        gap: 10px;
        input {
            transform: translate(0, 2px);
        }
    }

    &__balls {
    }
}

.login-btn {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 20px;
    background-color: rgb(196, 227, 255);
    transition: 0.15s ease;

    box-shadow: 0px 0px 0px 0px #43434300;
    &:hover {
        box-shadow: 0px 0px 0px 3px #434343;
    }
    &:active {
        opacity: 0.8;
        transform: scale(90%);
    }

    &:disabled {
        &:hover {
            box-shadow: 0px 0px 0px 0px #434343;
        }
    }
}

.logout {
    margin: 20px;
    display: flex;
    justify-content: flex-start;
}

.login-balls {
    @keyframes started-balls {
        0% {
            transform: scale(0%);
        }
        100% {
            transform: scale(100%);
        }
    }

    &__ball1,
    &__ball2 {
        // opacity: 0.5;
        position: absolute;
        bottom: 0;
        z-index: 10;

        width: 400px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #555555;
        background-color: #c4e3ff;

        animation: started-balls 1s 1.5s ease forwards;
    }

    &__ball1 {
        transform-origin: bottom left;
        left: 0;
        border-radius: 0 100% 0 0;
    }

    &__ball2 {
        transform-origin: bottom right;
        right: 0;
        border-radius: 100% 0 0 0;
    }
}
